@page "/createdepartment"
@using OpenAPIClient;
@inject HttpClient httpClient
@inject NavigationManager uriHelper
<h3>Create  New Department</h3>

<div class="container">
	<EditForm OnValidSubmit="@saveDept" Model="@dept">
		<div class="form-group">
			<label for="DeptNo">Dept No</label>
			 <InputNumber @bind-Value="@dept.DeptNo" class="form-control"></InputNumber>
		</div>
		<div class="form-group">
			<label for="DeptName">Dept Name</label>
			<InputText  class="form-control" @bind-Value="@dept.DeptName" ></InputText>
		</div>
		<div class="form-group">
			<label>Location</label>
			<InputText   class="form-control" @bind-Value="@dept.Location"></InputText>
		</div>

		<div class="form-group">
			<input type="button" value="Clear" class="btn btn-warning" @onclick="@clear"/>
			<input type="submit" value="Save" class="btn btn-success" />
		</div>
	</EditForm>
</div>

@code {
	private Department dept;
	private DepartmentAPIClient client;

	protected override void OnInitialized()
	{
		dept = new Department();
		client = new DepartmentAPIClient("https://localhost:44325/", httpClient);
		base.OnInitialized();
	}
	void clear()
	{
		dept = new Department();
	}

	async Task saveDept()
	{
		var res = await client.CreateoneAsync(dept);
		uriHelper.NavigateTo("/listdepartments");
	}
}
